[submodule "src/themes/ananke"]
	path = src/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "src/themes/hugo-blog-awesome"]
	path = src/themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesomehttps://github.com/theNewDynamic/gohugo-theme-ananke.git
